@{
    ViewData["Title"] = "Products";
}
@model dynamic
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User)){   
    var user = await UserManager.GetUserAsync(User);
    
<div>
    <h1 hidden id="userEmailReally">@user.Email</h1>
    <h1 hidden id="userCustomerID"></h1>
    <h1 hidden id="userColumnID"></h1>
</div>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products</h1>
    </div>
    
    <h3>Account Info</h3>
    <div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Company</th>
            <th scope="col">Contact</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">About</th>
            <th scope="col">Tech Contact</th>
            <th scope="col">Tech Phone</th>
            <th scope="col">Tech Email</th>
        </tr>
        </thead>
        <tbody>
            <tr id="customerInfo">
            </tr>
        </tbody>
    </table>
    </div>
    <h3>Address Info</h3>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Entity</th>
                <th scope="col">Street</th>
                <th scope="col">Suite</th>
                <th scope="col">City</th>
                <th scope="col">Zip</th>
                <th scope="col">Country</th>
                <th scope="col">Notes</th>
            </tr>
            </thead>
            <tbody>
                <tr id="addressInfo">
                </tr>
            </tbody>
        </table>

    </div>
    <h3>Buildings</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">ID</th>
                            <th scope="col">Admin</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone #</th>
                            <th scope="col">Tech Contact</th>
                            <th scope="col">Tech Email</th>
                            <th scope="col">Tech Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="buildingInfo">
                        </tr>
                    </tbody>
                </table>
    
            </div>

    <h3>Batteries</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Commission</th>
                        <th scope="col">Inspected</th>
                        <th scope="col">Certified by</th>
                        <th scope="col">Info</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                        <tr id="batteryInfo">
                    @* @foreach (Battery batt in Model.Batteries)
                    {
                            <td>@batt.id</td>
                            <td>@batt.battery_type</td>
                            <td>@batt.status</td>
                            <td>@batt.commissioned_date</td>
                            <td>@batt.last_inspection_date</td>
                            <td>@batt.certificate_of_operations</td>
                            <td>@batt.information</td>
                            <td>@batt.notes</td>
                    } *@
                        </tr>
                </tbody>
            </table>
        </div>

        <h3>Columns</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Floors</th>
                        <th scope="col">Status</th>
                        <th scope="col">Info</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                        <tr id="columnInfo">
                    @* @foreach (Column col in Model.Columns)
                    {
                            <td>@col.id</td>
                            <td>@col.column_type</td>
                            <td>@col.num_floors_served</td>
                            <td>@col.status</td>
                            <td>@col.information</td>
                            <td>@col.notes</td>
                    } *@
                        </tr>
                </tbody>
            </table>
        </div>

        <h3>Elevators</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Serial #</th>
                        <th scope="col">Model</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Commission</th>
                        <th scope="col">Inspected</th>
                        <th scope="col">Certified by</th>
                        <th scope="col">Info</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody id="elevatorInfo">    
                </tbody>
            </table>
        </div>

</main>
}
@section Scripts {
<script>
function addressScript() {
    var userID = document.getElementById("userCustomerID").value;
    $.ajax({
        cache: false,
        url: 'https://whispering-tundra-91467.herokuapp.com/api/addresses/',
        type: 'GET',
        dataType: 'json',
        success: function (obj) {
            for (var i = 0; i < obj.length; i++){
                if (obj[i].id == userID){                            
                    $("#addressInfo").append('<td><a  href="/Product/ModifyAddressInfo/'+obj[i].id+'">Modify</a></td><td>'+obj[i].id+'</td><td>'+obj[i].address_type+'</td><td>'+obj[i].status+'</td><td>'+obj[i].entity+'</td><td>'+obj[i].number_and_street+'</td><td>'+obj[i].suite_or_apartment+'</td><td>'+obj[i].city+'</td><td>'+obj[i].postal_code+'</td><td>'+obj[i].country+'</td><td>'+obj[i].notes+'</td>');
                }
            }
        },
        error: function (obj) {
            console.log('Something happened');
        }
    });
}
function buildingScript() {
    var buildingID = document.getElementById("userCustomerID").value;
    $.ajax({
        cache: false,
        url: 'https://whispering-tundra-91467.herokuapp.com/api/buildings/',
        type: 'GET',
        dataType: 'json',
        success: function (obj) {
            for (var i = 0; i < obj.length; i++){
                if (obj[i].id == buildingID){                            
                    $("#buildingInfo").append('<td><a  href="/Intervention/Index/">Report Problem</a></td><td>'+obj[i].id+'</td><td>'+obj[i].full_name_of_the_building_administrator+'</td><td>'+obj[i].email_of_the_administrator_of_the_building+'</td><td>'+obj[i].phone_number_of_the_building_administrator+'</td><td>'+obj[i].full_name_of_the_technical_contact_for_the_building+'</td><td>'+obj[i].technical_contact_email_for_the_building+'</td><td>'+obj[i].technical_contact_phone_for_the_building+'</td>');
                }
            }
        },
        error: function (obj) {
            console.log('Something happened');
        }
    });
}
function batteryScript() {
    var batteryID = document.getElementById("userCustomerID").value;
    $.ajax({
        cache: false,
        url: 'https://whispering-tundra-91467.herokuapp.com/api/batteries/',
        type: 'GET',
        dataType: 'json',
        success: function (obj) {
            for (var i = 0; i < obj.length; i++){
                if (obj[i].id == batteryID){                            
                    $("#batteryInfo").append('<td><a  href="/Intervention/Index/">Report Problem</a></td><td>'+obj[i].id+'</td><td>'+obj[i].battery_type+'</td><td>'+obj[i].status+'</td><td>'+obj[i].commissioned_date+'</td><td>'+obj[i].last_inspection_date+'</td><td>'+obj[i].certificate_of_operations+'</td><td>'+obj[i].information+'</td><td>'+obj[i].notes+'</td>');
                }
            }
        },
        error: function (obj) {
            console.log('Something happened');
        }
    });
}
function columnScript() {
    var columnID = document.getElementById("userCustomerID").value;
    $.ajax({
        cache: false,
        url: 'https://whispering-tundra-91467.herokuapp.com/api/columns/',
        type: 'GET',
        dataType: 'json',
        success: function (obj) {
            for (var i = 0; i < obj.length; i++){
                if (obj[i].id == columnID){                            
                    $("#columnInfo").append('<td><a  href="/Intervention/Index/">Report Problem</a></td><td>'+obj[i].id+'</td><td>'+obj[i].column_type+'</td><td>'+obj[i].num_floors_served+'</td><td>'+obj[i].status+'</td><td>'+obj[i].information+'</td><td>'+obj[i].notes+'</td>');
                    document.getElementById('userColumnID').value = obj[i].id;
                    setTimeout(elevatorScript, 1);
                }
            }
        },
        error: function (obj) {
            console.log('Something happened');
        }
    });
}
function elevatorScript() {
    var columnID = document.getElementById("userColumnID").value;
    $.ajax({
        cache: false,
        url: 'https://whispering-tundra-91467.herokuapp.com/api/elevators/',
        type: 'GET',
        dataType: 'json',
        success: function (obj) {
            for (var i = 0; i < obj.length; i++){
                if (obj[i].column_id == columnID){                            
                    $("#elevatorInfo").append('<tr><td><a  href="/Intervention/Index/">Report Problem</a></td><td>'+obj[i].id+'</td><td>'+obj[i].serial_number+'</td><td>'+obj[i].model+'</td><td>'+obj[i].elevator_type+'</td><td>'+obj[i].status+'</td><td>'+obj[i].date_of_commissioning+'</td><td>'+obj[i].last_inspection+'</td><td>'+obj[i].certificate_of_inspection+'</td><td>'+obj[i].information+'</td><td>'+obj[i].notes+'</td></tr>');
                    document.getElementById('userColumnID').value = obj[i].id;
                }
            }
        },
        error: function (obj) {
            console.log('Something happened');
        }
    });
}
$( document ).ready(function() {
var userEmail = document.getElementById("userEmailReally").innerHTML;

    $.ajax({
        cache: false,
        url: 'https://whispering-tundra-91467.herokuapp.com/api/customers/',
        type: 'GET',
        dataType: 'json',
        success: function (obj) {
            for (var i = 0; i < obj.length; i++){
                if (obj[i].company_contact_email == userEmail){                            
                    $("#customerInfo").append('<td><a  href="/Product/ModifyContactInfo/'+obj[i].id+'">Modify</a></td><td>'+obj[i].id+'</td><td>'+obj[i].company_name+'</td><td>'+obj[i].company_contact_full_name+'</td><td>'+obj[i].company_contact_phone+'</td><td>'+obj[i].company_contact_email+'</td><td>'+obj[i].company_description+'</td><td>'+obj[i].service_tech_authority_full_name+'</td><td>'+obj[i].technical_authority_for_service_phone+'</td><td>'+obj[i].technical_manager_email_for_service+'</td><br>');
                    document.getElementById('userCustomerID').value = obj[i].id;
                    setTimeout(addressScript, 1);
                    setTimeout(buildingScript, 1);
                    setTimeout(batteryScript, 1);
                    setTimeout(columnScript, 1);
                    //console.log("Just the id",obj[i].id);
                    //document.getElementById('userCustomerID').value = obj[i].id;
                    
                    //console.log("You fucking wizard",document.getElementById("userCustomerID").value);
                }
            }
        },
        error: function (obj) {
            console.log('Something happened');
        }
    });
});
</script>
}
    
